body {
    font-family: 'Segoe UI', Arial, sans-serif;
}

h1 {
    margin-bottom: 0;
    font-size: 6em;
    margin-top: 0;
    line-height: 90%;
    width: 0px;
    display: block;
    white-space: break-all;
    
}

h2 {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 3em;
}

p {
    margin-block-start: 4px;
    font-size: 1.6em;
}

.App {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.project p {
    color: #ffffff;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}

.header {
    text-align: left;
    padding: 10px;
    width: 30%;
    height: 100vh;
    flex-grow: 1;
    color: #FFFFFF;
    background-color: #00000070;
    background-image: url("images/header2.png");
    background-color: rgba(0,0,0,0.8);
    background-blend-mode: overlay;
    background-size: cover;
}
.content {
    flex-grow: 11;
}
.project {
    width: 100%;;
    height: 33.3vh;
    background-size: cover;
    overflow: hidden;
    box-sizing: border-box;
    padding: 20px;
    background-color: #3b00c4;
    background-position: center;
}

.project:nth-child(1){
    background-image: url("images/project1.png"), linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.8));
}
.project:nth-child(2){
    background-image: url("images/project2.png"), linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.8));
}
.project:nth-child(3){
    background-image: url("images/project3.png"), linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.8));
}
